---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Systems, C++, and Standardization</h1>
			<p>
            I am a systems engineer and student.
            This blog is where I share deep technical dives into C++, systems programming, build tools, and
            disect optimizations in LLM hosting.
			</p>

			<p>
            If you're interested in the intersection of language design,
            compiler internals, and performance-critical systems, you're in the right place.
			</p>

			<hr />
			<p>
				<a href="/blog">Read all posts &rarr;</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
